<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application_token</key>
	<string>AA9cb8d175d07ff709cccff7971c34ee41bdf9f2ce</string>
	<key>client_secret</key>
	<string>DHvew3mexmczRlaENIMEBuk0jswsyd1ehGCRJgbuoAly1zPjgnAMkVQFlfEArFeDolzgYvLVy5X6QTt28xBbjmkyiizdn2wBKWo8iUJ9FtbaEBe1OFykgjU0MAn44WUY</string>
	<key>client_id</key>
	<string>7PDskwiBi5J9Wb9hkxJcsv1dr6yGMCMuzbaFYXTm</string>
	<key>sandbox_url</key>
	<string>http://sandbox.banregiolabs.com:9447</string>
</dict>
</plist>
